.calendar {
    --calendar-background-color: var(--color-black);
    --calendar-button-color: var(--color-grey);
    --calendar-button-color-alternative: var(--color-black);
    --calendar-button-background-color: transparent;
    --calendar-button-background-color-alternative: var(--color-four);
    background-color: var(--calendar-background-color);
}

.calendar .date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar input {
    display: none;
}

.calendar .month {
    font-weight: bold;
}

.calendar .month button {
    flex-basis: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--calendar-button-color-alternative);
    background-color: var(--calendar-button-background-color-alternative);
    transition: 500ms;
    cursor: pointer;
    padding: .5rem;
    border-radius: 100vh;
}

.calendar .btn-date {
    flex-basis: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--calendar-button-color);
    background-color: var(--calendar-button-background-color);
    transition: 500ms;
    padding: .5rem;
    border-radius: 100vh;
}

.calendar .today .btn-date {
    box-shadow: inset 0 0 0 3px var(--color-black),
                0 0 0 3px var(--color-one);
}

.calendar input:not(:disabled) + .btn-date {
    cursor: pointer;
}

.calendar input:disabled + .btn-date {
    cursor: not-allowed;
    opacity: .4;
}

.calendar .today input:not(:disabled):checked + .btn-date,
.calendar .today input:not(:disabled) + .btn-date:hover {
    box-shadow: inset 0 0 0 3px var(--color-black),
                0 0 0 3px var(--color-four);
}

.calendar input:not(:disabled):checked + .btn-date,
.calendar input:not(:disabled) + .btn-date:hover {
    color: var(--calendar-button-color-alternative);
    background-color: var(--calendar-button-background-color-alternative);
}

.calendar input:not(:disabled) + .btn-date:focus {
    outline: none;
    color: var(--calendar-button-color-alternative);
    box-shadow: inset 0 0 0 3px var(--color-black),
                0 0 0 3px var(--calendar-button-background-color);
}

/* ? MD */
@media (min-width: 768px) {
    /**/
}

/* ? LG */
@media (min-width: 1024px) {
    /**/
}

/* ? XL */
@media (min-width: 1280px) {
    /**/
}