input.hidden {
    display: none;
}

.calendar-input {
    color: var(--calendar-color, #000);
    background-color: var(--calendar-background-color, #FFF);
    border-radius: .25rem;
    padding: .5rem;
    display: grid;
    gap: .5rem;
}

.calendar-input .month {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    font-weight: bold;
}

.calendar-input .month .name {
    grid-column: span 3 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-input .month > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calendar-input .month > div:nth-child(3) {
    justify-content: flex-end;
}

.calendar-input .month > div button {
    flex-basis: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--calendar-arrow-button-color, #FFF);
    background-color: var(--calendar-arrow-button-background-color, #BBB);
    transition: 500ms;
    cursor: pointer;
    padding: .5rem;
    border-radius: .25rem;
}

.calendar-input .month > div button:hover {
    color: var(--calendar-arrow-button-color-alternative, #FFF);
    background-color: var(--calendar-arrow-button-background-color-alternative, #222);
}

.calendar-input .month .week {
    grid-column: span 5 / span 5;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar-input .month .week span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-input .days {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.calendar-input .days .date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-input .days .date input {
    display: none;
}

.calendar-input .days .date .date-btn {
    flex-basis: 2rem;
    height: 2rem;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--calendar-date-button-color, #FFF);
    background-color: var(--calendar-date-button-background-color, #BBB);
    transition: 500ms;
    padding: .5rem;
    border-radius: .25rem;
}

.calendar-input .days .date input:not(:disabled) + .date-btn:hover {
    color: var(--calendar-date-button-color-alternative, #FFF);
    background-color: var(--calendar-date-button-background-color-alternative, #222);
}

.calendar-input .days .date input:not(:disabled):checked.selected + .date-btn {
    box-shadow: inset 0 0 0 var(--calendar-border-width, 3px) var(--calendar-selected-date-border-inset-color, #BBB),
                0 0 0 var(--calendar-border-width, 3px) var(--calendar-selected-date-border-color, #222);
}

.calendar-input .days .date.today .date-btn {
    box-shadow: inset 0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-inset-color, #FFF),
                0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-color, #222);
}

.calendar-input .days .date input:not(:disabled) + .date-btn {
    cursor: pointer;
}

.calendar-input .days .date input:disabled + .date-btn {
    cursor: not-allowed;
    color: var(--calendar-date-button-disabled-color, #BBB);
    background-color: var(--calendar-date-button-disabled-background-color, #EEE);
}

.calendar-input .days .date.today input:disabled + .date-btn {
    cursor: not-allowed;
    box-shadow: inset 0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-inset-color, #FFF),
                0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-color, #222);
}

.calendar-input .days .date.today input:not(:disabled):checked + .date-btn,
.calendar-input .days .date.today input:not(:disabled) + .date-btn:hover {
    box-shadow: inset 0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-inset-color-alternative, #BBB),
                0 0 0 var(--calendar-border-width, 3px) var(--calendar-today-date-button-border-color-alternative, #000);
}

.calendar-input .days .date input:not(:disabled):checked + .date-btn,
.calendar-input .days .date input:not(:disabled) + .date-btn:hover {
    color: var(--calendar-date-button-color-alternative, #FFF);
    background-color: var(--calendar-date-button-background-color-alternative, #222);
}

.calendar-input .days .date input:not(:disabled) + .date-btn:focus {
    outline: none;
    color: var(--calendar-date-button-color-alternative);
    box-shadow: inset 0 0 0 var(--calendar-border-width, 3px) var(--calendar-date-button-border-inset-color, #FFF),
                0 0 0 var(--calendar-border-width, 3px) var(--calendar-date-button-boder-color, #BBB);
}

/* ? MD */
@media (min-width: 768px) {
    /**/
}

/* ? LG */
@media (min-width: 1024px) {
    /**/
}

/* ? XL */
@media (min-width: 1280px) {
    /**/
}